import { LitElement, css, html } from 'lit';
import { property, state, customElement } from 'lit/decorators.js';
import { AppWebsocket, AppClient, ActionHash, encodeHashToBase64, decodeHashFromBase64 } from '@holochain/client';
import { SignalWatcher } from '@tnesh-stack/signals';
import { Router, hashState, wrapPathInSvg } from '@tnesh-stack/elements';
import { mdiArrowLeft } from '@mdi/js';
import { provide } from '@lit/context';
import { localized, msg } from '@lit/localize';
import { EntryRecord } from '@tnesh-stack/utils';

import '@shoelace-style/shoelace/dist/components/spinner/spinner.js';
import '@shoelace-style/shoelace/dist/components/icon-button/icon-button.js';
import '@tnesh-stack/elements/dist/elements/display-error.js';
import '@tnesh-stack/elements/dist/elements/app-client-context.js';
import '@darksoil-studio/profiles-zome/dist/elements/profile-prompt.js';
import '@darksoil-studio/profiles-zome/dist/elements/my-profile.js';

import { appStyles } from './app-styles.js';
import './home-page.js';
import './overlay-page.js';

@localized()
@customElement('holochain-app')
export class HolochainApp extends SignalWatcher(LitElement) {
  @state() _loading = true;
  @state() _view = { view: 'main' };
  @state() _error: unknown | undefined;

  _client!: AppClient;

  router = new Router(this, [
    {
      path: "/",
      enter: () => {
        // Redirect to "/home/"
        this.router.goto("/home/");
        return false;
      },
    },
    {
      path: "/home/*",
      render: () => html`<home-page
          @profile-clicked=${() => this.router.goto('/my-profile')}
        ></home-page>`,
    },
    {
      path: "/my-profile",
      render: () => html`<overlay-page
          .title=${msg("My Profile")}
          icon="back"
          @close-requested=${() => this.router.goto('/home/')}
        >
          <sl-card style="width: 600px;">
            <my-profile style="margin: 16px; flex: 1"></my-profile>
          </sl-card>
        </overlay-page>`,
    },
  ]);

  async firstUpdated() {
    try {
      this._client = await AppWebsocket.connect();
    } catch (e: unknown) {
      this._error = e;
    } finally {
      this._loading = false;
    }
  }

  render() {
    if (this._loading)
      return html`<div
        class="row"
        style="flex: 1; height: 100%; align-items: center; justify-content: center;"
      >
        <sl-spinner style="font-size: 2rem"></sl-spinner>
      </div>`;

    if (this._error)
      return html`
        <div style="flex: 1; height: 100%; align-items: center; justify-content: center;">
          <display-error .error=${this._error} .headline=${msg("Error connecting to holochain")}>
          </display-error>
        </div>
      `;

    return html`
      <app-client-context .client=${this._client}>
        <profile-prompt style="flex: 1;">
          ${this.router.outlet()}
        </profile-prompt>
      </app-client-context>
    `;
  }

  static styles = [
    css`
      :host {
        display: flex;
        flex: 1;
      }
    `,
    ...appStyles,
  ];
}
