import { Router, Routes, appClientContext } from "@tnesh-stack/elements";
import { AsyncResult, SignalWatcher } from "@tnesh-stack/signals";
import { LitElement, css, html } from "lit";
import { customElement } from "lit/decorators.js";
import { EntryRecord } from "@tnesh-stack/utils";
import { consume } from "@lit/context";
import { msg } from "@lit/localize";
import { AppClient } from '@holochain/client'

import '@tnesh-stack/elements/dist/elements/display-error.js';
import '@darksoil-studio/profiles-zome/dist/elements/profile-list-item.js';

import { appStyles } from './app-styles.js';

@customElement("home-page")
export class HomePage extends SignalWatcher(LitElement) {

  @consume({ context: appClientContext })
  client!: AppClient;

  renderContent() {
    return html`
      <span>TODO: replace this with the content of your app.</span>
      <span>Maybe you want to import elements from one of the TNESH modules?</span>
    `;
  }

  render() {
    return html`
      <div class="column" sytle="flex: 1">
        <div class="row top-bar">
          <span class="title" style="flex: 1">${msg("{{title_case app_name}}")}</span>

          <div class="row" style="gap: 16px">
            <profile-list-item .agentPubKey=${this.client.myPubKey}></profile-list-item>
          </div>
        </div>

        <div class="column" style="flex: 1; align-items: center; justify-content: center;">
          ${this.renderContent()}
        </div>
      </div>
    `;
  }

  static styles = [
    css`
      :host {
        display: flex;
        flex: 1;
      }

    `,
    ...appStyles,
  ];
}
